@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    
}

body {
    font-family: "Raleway", sans-serif;
    height: max-content;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

#header {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    z-index: 2;
}

#brand-logo {
    height: 80px;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    margin: auto;   
}

.navbar-link {
    font-weight: 600;
    margin-right: 10px;
    padding: 10px 20px;
    position: relative;
    height: 100%;
    transition: all 0.3s ease;
    color: black;
}

.navbar-link:hover {
    font-weight: 700;
}

.navbar-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    transition: all 0.3s ease;
    background-color: black;
}

.navbar-link:hover::after {
    width: 100%;
}

.form-input {
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid grey;
    transition: all 0.2s ease;
}

.heading {
    margin-bottom: 10px;
    font-size: 50px;
}

